$orange: hsl(31, 77%, 52%);
$cyan: hsl(184, 100%, 22%);
$dark-cyan: hsl(179, 100%, 13%);
$transparent-white: hsla(0, 0%, 100%, 0.75);
$white: hsl(0, 0%, 100);
$grey: hsl(0, 0%, 95%);
$font-size-15px: 15px;
$font-family-laxend: 'Lexend Deca', sans-serif;
$font-family-dispay: 'Big Shoulders Display', cursive;
$font-weight-400: 400;
$font-weight-700: 700;